section {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.section-1 h1 {
    font-size: 50px;
    color: white;
}

.section-1 {
    background-image: url(images/donation1-edited.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 250px;
    color: white;
    width: 100%;
}

.section-1 a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}

.section-1-elements {
    padding-top: 170px;
}

#section-1-paragraph {
    padding-bottom: 50px;
}

#section-2-div p {
    color: gray;
}

#section-2-div h1 {
    font-size: 40px;
}

#section-2-div-2 {
    display: flex;

}

.section-2-padding {
    padding: 40px;
    background-color: rgb(247, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

#sec-2-margin {
    margin-left: 350px;
}

#sec-2-color {
    background-color: rgb(253, 218, 213);
    border: 2px solid tomato;
}

.wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 450px;
    background: #fff;
    padding: 30px;
    margin-left: 530px;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label .input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}


.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    padding-left: 140px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline::before .input-data input:valid~.underline::before {
    transform: scaleX(1);
}

#align a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}

#main-h1 {
    font-size: 40px;
}

.section-3 {
    margin-top: 100px;
}

.section-2 {
    margin-top: 150px;
}

.icon {

    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 60px;
    background-color: #f5f5f8;
    text-align: left;
    border-radius: 5px;
}

#donate-plan-flex {
    display: flex;
}

#icon-2 {
    background-color: rgb(245, 236, 237);
}

#icon-3 {
    background-color: #ededf1;
}

footer h1 {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

footer {
    text-align: center;
    background-color: rgb(2, 2, 34);
    color: white;
    padding: 35px;
    padding-bottom: 25px;
    margin: 0;
    width: 96%;
}